*{
    margin: 0;
    padding: 0;
}
body {
	background: 
	  radial-gradient(black 3px, transparent 4px),
	  radial-gradient(black 3px, transparent 4px),
	  linear-gradient(#fff 4px, transparent 0),
	  linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
	  linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
	#fff;
	background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
	background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
	font-family: 'Manjari', sans-serif;
}
.title h1{
	padding: 20px 0;
	text-align: center;
	font-size: 2.9em;
	text-transform: uppercase;
}
.container{
	background-color: #ffffff;
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	display: grid; /*ASI SE COMIENZA EL GRID*/
	gap: 1.6em; /*ESTO ES PARECIDO A UN PADDIN O MARGIN ENTRE COLUMNAS*/
	grid-template-columns: repeat( 5, 1fr); /* REPITE UNA FRACCION 5 VECES. HACE 5 COLUMNAS */
}
.container > .header,
.container > .content,
.container > .sidebar,
.container > .footer,
.container > div
{
	background-color: #fff;
	padding: 20px;
	border: solid 1px #000;
}
.container  .header,
.container  .footer{
	background-color: #1e272e;
	color: #ffffff;
	grid-column: 1/6; /*HACE QUE EL HEADER Y EL FOOTER FULL  QUE ESTEN DESDE LA CULUNA 1 HASTA LA 6*/
}
.container .content{
	grid-column: span 3; /*SPAN DEFINE EL NUMERO DE COLUMNAS DE  UN ELEMENTO GRID*/
}
.content > .article{
	background-color: #808e9b;
	padding: 20px;
	margin-top: 5px;
	color: #dfe6e9;
}
.content .article h1,
.content .article p{
	padding: 10px;
}
.container .sidebar{
	grid-column: span 2; /*EL SIDE BAR TIENE DE ANCHO DE 2 COLUMNAS */
	background-color: #485460;
	color: #fff;
	display: flex; /*AQUI SE USA FLEX BOX*/
	justify-content: center; /*CENTRAMO DE MANERDA VERTICAL Y HORIZONTAL PERO SE ORDENAN HORIZONTALMENT*/
	align-items: center;
	flex-direction: column; /*Y SE SOLUCIONA CON COLUMN PARA QUE  SEAN VERTICALES */
}
.container .sidebar img{
	width: 100%;
	margin-top: 10px;
}
.container > .related-post{
	background-color: #2d3436;
	color: #ffffff;
	height: 180px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.9s ease; /*HACE QUE LA ANIMACION DEL HOVER SEA MAS LENTA*/
}
.container > .related-post:hover{
	cursor: pointer;
	color: #000000;
	background-color: #ffffff;
}
@media screen and (max-width: 768px) {
	.header{
		text-align: center;
	}	
	.container .content{
		grid-column: 1 / -1; /*ABARCA DE LA COLUM 1 A LA ULTIMA*/
	}
	.container .sidebar{
		grid-column: 1 / 6; /*ABARCA DE LA COLUMN 1 A LA 6 QUE ES LA ULTIMA*/
	}
	.container .related-post{
		grid-column:  1 / -1;
	}
}